<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boston Housing Price Prediction</title>
</head>
<body>

    <h1><b>Boston Housing Price Prediction</b></h1>
    
    <form method="post" action="/predict">
        <label>CRIM: Per capita crime rate by town</label><br>
        <input type="text" name="CRIM"><br><br>

        <label>ZN: Proportion of residential land zoned</label><br>
        <input type="text" name="ZN"><br><br>

        <!-- <label> INDUS: Proportion of non-retail business</label><br>
        <input type="text" name=" INDUS: Proportion of non-retail business"><br><br> -->
        
        <!-- <label>RM: Average number of rooms</label><br>
        <input type="text" name="RM: Average number of rooms"><br><br> -->

        <label>NOX:Nitric oxide concentration</label><br>
        <input type="text" name="NOX"><br><br>

        <label>RM:Average number of rooms</label><br>
        <input type="text" name="RM"><br><br>
        
        <label>DIS: Weighted distances to five Boston employment centers</label><br>
        <input type="text" name="DIS"><br><br>
        
        <label>RAD: Index of accessibility to radial highways</label><br>
        <input type="text" name="RAD"><br><br>
         
        <!-- <label>TAX: Full-value property tax rate</label><br>
        <input type="text" name="TAX: Full-value property tax rate"><br><br>
         -->
        <label>PTRATIO: Pupil-teacher ratio by town</label><br>
        <input type="text" name="PTRATIO"><br><br>
        
        <label>LSTAT: Percentage of lower status of the population</label><br>
        <input type="text" name="LSTAT"><br><br>


        <input type="submit" value="Predict"><br><br>

        {% if result %}
        <p>{{ result }}</p>
    {% endif %}

    </form>

    
</body>
</html>
